# PyCharm Projektdateien
.idea

# Python virtuelle Umgebungen
.venv

# Verzeichnis für temporäre Daten oder lokale Datenbanken
/data/

# Spezifische Tests für SQL Alchemy
test/sql_alchemy.py

# Geschäftslogik, beispielsweise für Suchfunktionalitäten
/business/SearchManager.py
